@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* Ensure Times New Roman is available if specified */
.font-times {
  font-family: "Times New Roman", Times, serif !important;
}
